/*Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
:root{
    --main-color:#7b3f00;
    --secondary-color:#ffe9d6;
    --text-color: black;
    --bg-color:#fff;

}
section{
    padding: 80px 130px;
}
body {
  color: var(--text-color);
}

/* HEADER */
.header {
    position: relative;
  width: 100%;
  height: 80px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 130px;
}

.logo img{
    width:40px;
}
.navbar{
    display: flex;
    gap: 30px;
}
.navbar a{
    padding: 8px 12px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.navbar a:hover{
    background: var(--secondary-color);
    border-radius: 5px;
    color: var(--text-color);
    transition: 0.2s all linear;
}
.header-icon{
    font-size: 20px;
    cursor: pointer;
    display: flex;
    column-gap: 20px;
}
.header-icon i{
    color: var(--bg-color);
}
.header-icon i:hover{
    color: var(--main-color);
}
#menu-icon{
    color: var(--bg-color);
    font-size: 22px;
    z-index:100001;
    cursor: pointer;
    display: none;
}
.search-box {
  max-height: 0;
  width: 100%;
  background: #fff;
  align-items: center;
  padding: 0 130px;
  left: 0;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.search-box.active{
    max-height: 100px;
    box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.1);
    transition: 0.2s all linear;
}
.search-box input {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  margin: 20px 0;
  border: 1px solid #ccc;
  outline: none;
}

.search-box input::placeholder{
    font-size: 17px;
    font-weight: 500;
}
.home {
    width: 100%;
    height: 100vh;
    min-height: calc(100vh - 140px);
    background: url("../images/home-img.jpg");
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;  
    display: grid;
    align-items: center;
    padding: 0;
}

.home-text {
    max-width: 500px;
    color: #fff;
    margin-left: 80px;
}

.home-text h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 15px;
}

.home-text p {
    font-size: 0.9rem;
    margin-bottom: 25px;
    line-height: 1.6;
}

.btn {
    padding: 12px 30px;
    background: var(--main-color);
    color: #fff;
    border-radius: 30px;
    font-weight: 500;
}
.btn:hover {
    background: #bd7414
}
.about{
    display: flex;
    align-items: center;
    padding: 80px 130px;
    gap: 180px;
}
.about-img {
  margin-left: auto;
}
.about-img img{
  width: 100%;
  max-width: 450px;
  border-radius: 5px;
  object-fit: cover;
}
.about-text{
    max-width: 450px;
}
.about-text h2{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;
}
.about-text p{
    font-size: 17px;
    line-height: 1.8;
    margin: 20px 0;
}
.products {
  padding: 80px 130px;
}
.products-text h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product-box {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}
.product-box img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.price span {
  font-weight: bold;
}

.price a {
  background: var(--main-color);
  color: #fff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}
.price a:hover {
  background: #bd7414;
}
.contact {
  padding: 80px 130px;
  background: #fff;
}

.contact-heading {
  text-align: center;
  margin-bottom: 60px;
}

.contact-heading h2 {
  font-size: 42px;
  color: #000;
}

.contact-heading p {
  font-size: 18px;
  margin-top: 10px;
  color: #555;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}


.contact-info h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.contact-info p {
  font-size: 19px;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 18px;
  font-size: 15px;
}

.info-box i {
  font-size: 28px;
  color: var(--main-color);
}
.contact-form form {
  background: var(--secondary-color);
  padding: 35px;
  border-radius: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--main-color);
}

.contact-form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
}
.contact-form .btn:hover {
  background: #bd7414;
}

.footer {
  background: #1a1a1a;
  color: #fff;
  padding: 70px 130px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.footer-box h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #fff;
}
.footer-box p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 15px;
}
.quick-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 40px;
}
.quick-links h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.quick-links ul {
  list-style: none;
}

.quick-links ul li {
  margin-bottom: 10px;
}

.quick-links ul li a {
  font-size: 14px;
  color: #ccc;
  transition: 0.3s;
}

.quick-links ul li a:hover {
  color: pink;
  padding-left: 5px;
}
.footer-box .social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.footer-box .social-icons a {
  font-size: 18px;
  color: #ccc;
  transition: 0.3s;
}
.footer-box .social-icons a:hover {
  color: pink;
}
.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
}

.footer-bottom p {
  font-size: 13px;
  color: #aaa;
}
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .quick-links {
    grid-template-columns: 1fr;
  }

  .footer-box .social-icons {
    justify-content: center;
  }
}
/* RESPONSIVE DESIGN */

/* ---------- Tablets & Mobiles ---------- */
@media (max-width: 900px) {

  .header {
    padding: 0 40px;
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #000;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .navbar a {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #222;
  }

  .navbar.active {
    max-height: 400px;
  }

  .search-box {
    padding: 0 40px;
  }
  .home-text {
    margin-left: 40px;
    max-width: 400px;
  }

  .home-text h1 {
    font-size: 2.4rem;
  }

  .about {
    flex-direction: column;
    gap: 40px;
    padding: 60px 40px;
    text-align: center;
  }

  .about-img {
    margin-left: 0;
  }
    .about-text {
        max-width: 100%;
    }
  .products {
    padding: 60px 40px;
  }

  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    padding: 60px 40px;
  }

  .contact-container {
    grid-template-columns: 1fr;
  }
  
  .footer {
    padding: 60px 40px 20px;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .quick-links {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small Mobiles */
@media (max-width: 600px) {
    .header {
        padding: 0 20px;
    }
    .search-box {
        padding: 0 20px;
    }



  .home-text {
    margin-left: 20px;
    max-width: 320px;
  }


  .home-text h1 {
    font-size: 2rem;
  }

    .about {
        padding: 40px 20px;
    }
    .products {
        padding: 40px 20px;
    }
  .products-container {
    grid-template-columns: 1fr;
  }

   .contact {
        padding: 40px 20px;
    }
    .contact-container {
        grid-template-columns: 1fr;
    }


  .footer {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .quick-links {
    grid-template-columns: 1fr;
  }


  .footer-box .social-icons {
    justify-content: center;
  }
}

